<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="card bg-dark text-white">
    <div class="card-body">
        <h1 style="display: inline-block;"><i class="fas fa-dove" ></i></h1>
        
        <a href="/" class="text-white pl-3" style="display: inline-block;">
            <h3>Result Hanagement Home</h3>
        </a>
        <a class="float-right text-light" (click) = "auth.logout()">
            <h3 style="display: inline-block;"><i class="fas fa-power-off" ></i></h3> <h3 style="display: inline-block;" class="pl-3">Log Out</h3>
        </a>
    </div> 
</div>
