
<div class="container-fluid p-3">
    <div class="row justify-content-center">
        <div class="card text-center" style="min-width: 500px;">
            <div class="card-header">
                <h5 class="card-title">{{ title }}</h5>
            </div>

            <div class="card-body  text-left">
                <form [formGroup]="SignupForm" (ngSubmit)="submit()">
                    <div class = " pb-1" *ngFor="let item of inputs | keyvalue" >
                        <label for="{{ item.key }}" class="form-label mx-auto">{{ item.key | uppercase}}</label>
                        <input class = "form-control" id = "{{ item.key }}" formControlName = "{{ item.key }}" >
                        <div class=" pb-1"> <li class="error" *ngFor="let error of errors[item.key | lowercase ]">{{ error }}</li> </div>
                    </div>
                    <div class="pt-2">
                        <button type="submit" class="btn btn-primary" >Submit</button>
                    </div>
               
                </form>
            </div>

            <div class="card-footer text-muted">
                
                <!-- <a href="/login" class="btn btn-success" >
                    <h6>Already have an account? Login here.</h6>
                </a> -->
            </div>

        </div>
    </div>
</div>

{{ SignupForm.value | json}}



