<div class="container">
    <div class="jumbotron text-center">
        <h1>Welcome to Student Dashboard!</h1>
        <p>Welcome! Please look below for the list of acitons you can perform</p>
      </div>
    

    <div class="row pt-3">
        <div class="col">
            <div class="card text-center">
                <div class="card-header"> <h5 class="card-title">Semester Wise Exam Result</h5> </div>
                <div class="card-body  text-left">
                  Here you can:
                  <li>View exam results</li>
                </div>
                <div class="card-footer text-muted"> <a href="/exam-results?role=student" class="btn btn-info">Proceed</a> </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header"> <h5 class="card-title">Final Results</h5> </div>
                <div class="card-body  text-left">
                  Here you can:
                  <li>View Final Results</li>
                </div>
                <div class="card-footer text-muted"> <a href="/exam-results-final" class="btn btn-info">Proceed</a> </div>
            </div>
        </div>
    </div>
</div>