<div class="container">
    <div class="jumbotron text-center">
        <h1>Welcome to Admin Panel!</h1>
        <p>Welcome, Admin! Please look below for the list of acitons you can perform</p>
      </div>
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header"> <h5 class="card-title">Student Account Management</h5> </div>
                <div class="card-body  text-left">
                  Here you can:
                  <li>Create Student Account</li>
                  <br>
                </div>
                <div class="card-footer text-muted"> <a href="/register" class="btn btn-info">Proceed</a> </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header"> <h5 class="card-title">Student Info Management</h5> </div>
                <div class="card-body  text-left">
                  Here you can:
                  <li>Read student information</li>
                  <li>Edit student information</li>
                </div>
                <div class="card-footer text-muted"> <a href="/view-students" class="btn btn-info">Proceed</a> </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header"> <h5 class="card-title">Exams</h5> </div>
                <div class="card-body  text-left">
                  Here you can:
                  <li>View Exams</li>
                  <li>Create, edit, delete exams</li>
                </div>
                <div class="card-footer text-muted"> <a href="/exams" class="btn btn-info">Proceed</a> </div>
            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col">
            <div class="card text-center">
                <div class="card-header"> <h5 class="card-title">Semester Wise Exam Result</h5> </div>
                <div class="card-body  text-left">
                  Here you can:
                  <li>View exam results</li>
                  <li>Edit exam results</li>
                </div>
                <div class="card-footer text-muted"> <a href="/exam-results" class="btn btn-info">Proceed</a> </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header"> <h5 class="card-title">Final Exam Results</h5> </div>
                <div class="card-body  text-left">
                  Here you can:
                  <li>View Final Exam Results</li>
                  <br>
                </div>
                <div class="card-footer text-muted"> <a href="/exam-results-final" class="btn btn-info">Proceed</a> </div>
            </div>
        </div>
    </div>
</div>